{% extends 'accounts/main.html' %}

{% block content %}
<section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Check-IN</h1>
              <span class="color-text-a">Revisa el inventario del departamento y paga el resto de la reserva!</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Check IN
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
{%load static %}


<body class="bg-light">
{% for reserva in CHECKIN1 %}
  <div class="container">
      <div class="py-5 text-center">
        <h2>Confirmacion Checkin</h2>
        <p class="lead">Recuerda que debes pagar la mitad en la reserva y la otra en el chekin</p>
      </div>
      
        <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Checkin</span>
            <span class="badge badge-secondary badge-pill">1</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Checkin Departamento ID:{{reserva.departamento_id_depto}}</h6>
                <small class="text-muted">Servicio Extra: {{reserva.servicios_extra_tipo_servicio}}</small>
              </div>
              <div class="d-flex align-items-end flex-column">
              <span class="text-muted">{{reserva.departamento_id_depto.precio}}</span>
              <span class="text-muted">{{reserva.servicios_extra_tipo_servicio.precio}}</span>
              </div>
              
    
            <li class="list-group-item d-flex justify-content-between">
              <span>Total:</span>
              <strong>{{reserva.total}}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Pago Checkin:</span>
              <strong>{{reserva.cuota1view}}</strong>
            </li>
          </ul>

        </div>
        </div>

      



      <div class="row">
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Detalles Checkin</h4>
          <form class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Rut:</label>
                <h4>{{reserva.rutcliente}}</h4>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Descripcion Cocina: </label>
                 <h4>{{reserva.departamento_id_depto.inventario_id_inv.cocina}}</h4>
              </div>
            </div>

        <div class="row">
              <div class="col-md-8 order-md-1">
                <label for="lastName">Descripcion Muebles: </label>
                 <h4>{{reserva.departamento_id_depto.inventario_id_inv.muebles}}</h4>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Descripcion Bano: </label>
                 <h4>{{reserva.departamento_id_depto.inventario_id_inv.banoinv}}</h4>
              </div>
            
     
            <div class="col-md-6 mb-3">
                <label for="lastName">Camas: </label>
                 <h4>{{reserva.departamento_id_depto.inventario_id_inv.camas}}</h4>
              </div>
              <div class="col-md-7 mb-4">
                <label for="lastName">Extras: </label>
                 <h4>{{reserva.departamento_id_depto.inventario_id_inv.extras}}</h4>
              </div>
            </div>
            <a type="" href=" {% url 'venue_pdf' IDCAPT %}" class="btn btn-primary btn-lg btn-block"> Descargar PDF </a>


            <hr class="mb-4">
            <h4 class="mb-3">Pago</h4>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="credit">Tarjeta de credito</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-name">Nombre en tarjeta</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number">Numero Tarjeta</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiracion</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>

           

            

     
           
            <hr class="mb-4">
            <a type="submit" href="{% url 'agregar_checkin' IDCAPT %}" class="btn btn-primary btn-lg btn-block"> Pagar CHECKIN </a>
          </form>
        </div>
      </div>
      </div>
  </div>
          
     
{% endfor %}
























{% endblock %}