{% extends 'accounts/main.html' %}

{% block content %}
{%load static %}
<!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Pagar</h1>
              <span class="color-text-a"></span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Reservar</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Propiedades
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->



<body class="bg-light">
{% for reserva in PAGO %}
    <div class="container">
      <div class="py-5 text-center">
        <h2>Pago Reserva</h2>
        <p class="lead">Recuerda que debes pagar la mitad en la reserva y la otra en el chekin</p>
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Tus Reservas</span>
            <span class="badge badge-secondary badge-pill">1</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Reserva Departamento ID:{{reserva.departamento_id_depto}}</h6>
                <small class="text-muted">Servicio Extra: {{reserva.servicios_extra_tipo_servicio}}</small>
              </div>
              <div class="d-flex align-items-end flex-column">
              <span class="text-muted">{{reserva.departamento_id_depto.precio}}</span>
              <span class="text-muted">{{reserva.servicios_extra_tipo_servicio.precio}}</span>
              </div>
              
    
            <li class="list-group-item d-flex justify-content-between">
              <span>Total:</span>
              <strong>{{reserva.total}}</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Pago Reserva:</span>
              <strong>{{reserva.cuota1view}}</strong>
            </li>
          </ul>

        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Detalles Reserva</h4>
          

          <form class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Nombre:</label>
                <h4>{{ reserva.nombre_completo }}</h4>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Rut: </label>
                 <h4>{{reserva.rutcliente}}</h4>
              </div>
            </div>

   			<div class="row">
              <div class="col-md-8 order-md-1">
                <label for="lastName">Fecha Reserva: </label>
                 <h4>{{reserva.fechareserva}}</h4>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Correo: </label>
                 <h4>{{reserva.correo}}</h4>
              </div>
            
     
            <div class="col-md-6 mb-3">
                <label for="lastName">Telefono: </label>
                 <h4>{{reserva.telefono}}</h4>
              </div>
            </div>
          

           

            

     
           
            <hr class="mb-4">

            <h4 class="mb-3">Pago</h4>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                <label class="custom-control-label" for="credit">Tarjeta de credito</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-name">Nombre en tarjeta</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number">Numero Tarjeta</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiracion</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <a type="submit" href="{% url 'agregar_pago' IDCAPT %}" class="btn btn-primary btn-lg btn-block"> Pagar Reserva </a>
      
          </form>
        </div>
      </div>

     
      {% endfor %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>












































{% endblock %}