{% extends 'accounts/main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Nuestros Departamentos</h1>
              <span class="color-text-a">Departamentos disponibles para Reservar</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Properties Grid
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->
    {% load static %}
    <body>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                  

                  {% for departamento in departamentos_lista %}
                  <!-- PRODUCTOS-->
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Reserva</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="{{departamento.imagenes}}" alt="..." />
                            <!--src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"-->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{departamento.direccion_direccioncompleta.direccioncompleta}}</h5>
                                    <h5 class="fw-bolder">ID:{{departamento.id_depto}}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <span class="text-muted text-decoration"></span>
                                    Piezas: {{departamento.piezas}}
                                    <!-- Product price-->
                                    <br>
                                     <span class="text-muted text-decoration"></span>
                                    Banos: {{departamento.banos}} - Terraza: {{departamento.terraza}}
                                    <!-- Product price-->
                                    <br>
                                    <span class="text-muted text-decoration-line-through"></span>
                                    Precio: ${{departamento.precio}}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'reserva' %}">Reservar</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                    
                    
              
                    <div class="col mb-5">
                    </div>
                </div>
            </div>
        </section>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
    {% endblock %}
</html>
