{% extends 'accounts/main.html' %}

{% block content %}
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Reservas</h1>
              <span class="color-text-a">Reserva tu departamento</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Reservar</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Propiedades
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

{%load static %}
<body>
{% if submitted %}
<div class="d-flex justify-content-center">
  Solicitud de reserva realizada con exito, revisa tu mail para mas detalles y el check-in.
</div>
{% else %}

<center>
<p>Una vez realizada la solicitud de reserva te llegara un mail con tu confirmacion y el estado de esta junto con el Link del primer pago, recuerda que puedes revisar el estado de tu reserva en Busqueda Reserva</p>
</center>

  <div class="d-flex justify-content-center">
      <form action="" method=POST>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-flex justify-content-center">
      <input type="submit" value="Reservar" class="btn btn-warning">
      </div>
      </form>
  </div>
{% endif %}



</body>

{% endblock %}

